.tictacGameContainer{
  margin-right: auto;
  margin-left: auto; 
  align-content: center; 
  width: 50vw; 
  height: 50vw;
  position: relative;
}

.tictacBoard{
  display: grid; 
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%;
  align-content: center;
  margin-left: .75vw;
  margin-top: .75vw;
}

.tictacSquare {
  border-width: .5vw;
  height: 90%;
  width: 90%;
  background-color: rgba(3, 7, 46, 0.4);
  border-radius: .75em;
}

.tictacSquareFilled{
  border-width: .5vw;
  height: 90%;
  width: 90%;
  background-color: rgba(3, 7, 46, 0.4);
  border-radius: .75em;
}

.tictacSquare:hover{
  cursor: pointer;
  border: solid silver;
  z-index: 1;
  /* background-color: rgba(3, 7, 46, 0.4); */
}

.tictacLogo{
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  z-index: 10;
  border: solid white; 
  margin-top: 1.25vw;
  margin-left: 1.25vw;
}

.chooseModal {
  align-content: center;
  margin-left: auto;
  margin-top: auto;
  position: fixed; 
  display: block;
  z-index: 3; 
  left: 20%;
  top: 10%;
  border: solid black; 
  border-radius: 1em;
  width: 60%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */ 
}

.teamModalLogo {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.teamModalLogo:hover {
  border: solid silver;
  cursor: pointer;
}

.modalContainer {
  position: relative;
  text-align: center;
  margin-left: 8%;
  width: 50vw;
  height: 35vw;
  margin-top: 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 100;
  color: white;
}

.modalSubContainer{
  position: relative,
  hei
}