.tictacContainer {
  align-content: center;
}

.tictacHeader{
  font-family: 'playball';
  font-weight: 500;
  font-size: 6vw;
  text-align: center;
  color: red;
}

.tictacMatchContainer{  
  display: grid;
  width: 80%;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 40% 60%;
}

.scoreBoardContainer {
  background: rgba(10,10,225,0.8)
}

.scoreBoardHeader{
  font-family: 'Roboto';
  font-weight: 200;
  margin-left: 1.5vw;
  margin-top: 1.5vw;
  color: white;
  font-size: 4vw;
}

.scoreBoardSubHeader {
  font-family: 'Roboto';
  font-weight: 500;
  color: red;
  font-size: 3.5vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
}

.scoreBoardBox {
  background-color: rgba(255, 255, 255, .8);
  height: 100%;
}

.scoreBoard {
  font-family: 'Roboto';
  font-weight: 500;
  color: red;
  font-size: 3.5vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
}

.dodgerScore {
  font-family: 'playball';
  color: dodgerblue;
  font-size: 3vw;
  margin-top: .5vw;
  margin-left: 2.5vw;
}

.yankeeScore {
  font-family: 'playball';
  color: navy;
  font-size: 3vw;
  margin-top: .5vw;
  margin-left: 2.5vw;
}

.tieScore {
  font-family: 'playball';
  color: black;
  font-size: 3vw;
  margin-top: .5vw;
  margin-left: 2.5vw;
}

.score{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 3vw;
  color: black;
  float: right;
  margin-right: 10vw;
}

.scoreBoardLogo {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}

.currentMove {
  font-family: 'playball';
  font-size: 4vw;
  color: white;
  text-align: center;
}

.tieDeclaration {
  font-family:'playball';
  font-size: 3vw;
  color: white;
  text-align: center;
}

.currentMoveBox{
  height: 40%;
}
.tictacGameContainer{
  padding-top: 3vw;
  padding-bottom: 3vw;
  /* background: rgba(10,10,225,0.3) */
}

.tictacGame{
  margin-right: auto;
  margin-left: auto; 
  align-content: center; 
  width: 30vw; 
  height: 30vw;
  position: relative;
}

.tictacBoard{
  display: grid; 
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%;
  align-content: center;
  margin-left: .75vw;
  margin-top: .75vw;
}

.tictacSquare {
  border-width: .5vw;
  height: 90%;
  width: 90%;
  background-color: rgba(230, 20, 20, 0.4);
  border-radius: .75em;
}

.tictacSquareFilled{
  border-width: .5vw;
  height: 90%;
  width: 90%;
  background-color: rgba(230, 20, 20, 0.7);;
  border-radius: .75em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tictacSquare:hover{
  cursor: pointer;
  border: solid rgba(230, 20, 20, 0.3);
  z-index: 1;
}

.tictacLogo{
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 2;
  border: solid white;
  text-align: center;
}

.currentTeamLogo{
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 2;
  border: solid white;
  text-align: center;
  margin-top: 2vw;
}

.chooseModal {
  align-content: center;
  margin-left: auto;
  margin-top: auto;
  position: fixed; 
  display: block;
  z-index: 3; 
  left: 20%;
  top: 10%;
  border: solid blue; 
  border-radius: 1em;
  width: 60%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(150,20,20,0.8); /* Black w/ opacity */ 
}

.teamModalLogo {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  margin-top: 4vw;
  z-index: 5;
}

.teamModalLogo:hover {
  border: solid silver;
  cursor: pointer;
}

.modalContainer {
  position: relative;
  text-align: center;
  margin-left: 8%;
  width: 50vw;
  height: 35vw;
  margin-top: 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 300;
  color: white;
}

.winnerHeader {
  font-family: 'playball';
  font-size: 3.75vw;
  color: white;
}

.modalSubContainer{
  position: relative,
}

.newGameButton{
  float: right;
  margin-right: 3vw;
  border-radius: 1vw;
  margin-top: 10vw;
  height: 5vw;
  width: 10vw;
  color: white;
  font-family: 'Roboto';
  font-weight: 300;
  background: rgba(0,0,0,0);
}

.newGameButton:hover{
  cursor: pointer;
  background: rgba(0,0,255,.5);
  color:red;

}